.card {
    margin-top: 40px;
    background-color: #ffffff;
    height: 320px;
    border-radius: 4px;
    border: 4px solid;
    border-color: rgba(130, 130, 130, 0.25);
    background-repeat: no-repeat;
    background-position: center;
}
.backSize {
    background-size: cover;
}
.filler {
    height: 100%;
}
.text {
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    padding-bottom: 32px;
    padding-top: 28px;
    margin: -4px;
    margin-top: 0px;
    border: 4px solid;
    border-top: 0px solid;
    border-color:  rgba(130, 130, 130, 0.25);
}